@model WebApplication1.Models.Order

@{
    ViewData["Title"] = "Vytvorenie novej objednávky";
}
<br>
<p class="p-nadpis">Vytvorenie novej objednávky</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.ID" class="control-label"></label>
                
                <select asp-for="Category.ID" class="form-control">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.ID"> @category.Name</option>
                    }
                </select>
                <span asp-validation-for="Category.ID" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Vytvoriť objednávku" class="btn btn-danger" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Späť na objednávky</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
