/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/images/W.jpg);
}
.p-nadpis {
    font-family: Impact, Charcoal, sans-serif;
    font-size: large;
}

.p-nadpis2 {
    font-family: Impact, Charcoal, sans-serif;
}

.hovereffect {
    width:350px;
    height:150px;
    float: left;
    object-position:center;
    padding-left:50px;
    text-align: center;
    cursor: default;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    .hovereffect:hover img {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 0.5s ease-in-out;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
