@{
    ViewData["Title"] = "Hlavná stránka";
}
<br>
<p class="p-nadpis">
    Ako nakupovať na "Čínskych obchodoch"<br>

    Pre prípad, že ste nikdy predtým na AliExpress nenakupovali, mám pre vás pár rád, na ktoré by ste mali určite myslieť.

    Začíname

    Ak ešte nemáte účet na AliExpress, môžete si ho založiť pomocou Facebooku alebo priamo. Tu je jednoduchý postup registrácie.

    Potom sa už iba prihlásite pod heslom, ktoré ste pri registrácii vyplnili a môžete sa pustiť do hľadania produktov.

    Ako si preložiť AliExpress do slovenčiny
    Ak nie ste tak dobrý/á v angličtine, môžete si stránku automaticky preložiť do slovenčiny alebo češtiny.

    Rada od nás: Tento preklad je iba "strojový", môžu v ňom byť chyby. Majte to na pamäti.

    1. Kliknite na "Language" (Jazyk)
    2. Kliknite na Vyberte jazyk
    3. Ako prvú voľbu, by ste mali mať slovenčinu<br>
    <br>
    Ako nakupovať ?<br>
    Prihláste sa
    Ak ste už zaregistrovaný, prihláste sa. Na úvodnej stránke, ukážte na svoje meno a kliknite na "My AliExpress" alebo "Môj AliExpress".

    Vyplňte poštovú adresu
    Otvorí sa vám nová stránka a v ľavom menu nájdite "Shipping Address" alebo "Poštová adresa". Tam pridáte svoje poštové údaje.

    Nájdite tovar
    Tovar môžete hľadať buď cez vyhľadávacie pole, alebo cez kategórie. Do vyhľadávacieho poľa zadávajte iba anglické výrazy. Stránka si slovenské výrazy bohužial nepreloží.

    Vyhľadávanie
    Kategórie (úvod)
    Použite filtrovanie
    AliExpress má rozsiahle možnosti filtrovania produktov. Môžete filtrovať podľa značky, ceny, hodnotenia (4 hviezdičky a viac), dopravy zadarmo, ak chcete iba 1 kus (1 Piece Only).



    Potom sú tam možnosti Triediť podľa (Sort by). Štandardne sú zoradené podľa najlepšej zhody s tým, čo ste zadali do vyhľadávania (Best Match), ale môžete si prepnuť triedenie podľa Objednávok (Orders), Najnovšie (Newest), Hodnotenie predajcu (Seller rating), Cena (Price).
</p>
<div class="row navbar-center" >
    <div class="col-3"style="margin-right:50px;">
        <a href="https://www.aliexpress.com/">
            <img src="~/images/Ali.png" alt="Microsoft Azure" class="img-responsive center hovereffect" />

        </a>

    </div>

    <div class="col-3">
        <a href="https://www.gearbest.com/">
            <img src="~/images/Gb.png" alt="Microsoft Azure" class="img-responsive center hovereffect" />
        </a>
    </div>

    <div class="col-3">
        <a href="https://www.lightinthebox.com/?currency=USD&litb_from=paid_adwords_search&adword_mt=e&adword_ct=158046375806&adword_kw=lightinthebox&adword_pos=1t1&adword_pl=&adword_net=g&adword_tar=&adw_src_id=3278166674_66185251_2140953451_3090055191&litb_from=paid_adwords_search_brand&adword_mt=e&adword_ct=158046375806&adword_kw=lightinthebox&adword_pos=1t1&adword_pl=&adword_net=g&adword_tar=&adw_src_id=4475982432_244712713_16647062233_kwd-4839621881&gclid=Cj0KCQiAm5viBRD4ARIsADGUT27-K8j9Mz3blOjyr3NGjRZ8lFl-cYyQZoXHJZvQta2qyQnVkUB2RPcaAmjcEALw_wcB">
            <img src="~/images/Lg.png" alt="Microsoft Azure" class="img-responsive center hovereffect" />
        </a>
    </div>
</div>


